<h1>Doctors List</h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Email</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @doctors.each do |doctor| %>
    <tr>
      <th scope="row"><%= doctor.id %></th>
      <td><%= doctor.email %></td>
      <% if can? :create, Appointment %>
        <td><%= button_to "Make Appointment", appointments_path(doctor_id: doctor.id), method: :post, class: "btn btn-primary" %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
